

.button {
    width: min(80%, 380px);
    height: 64px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    font-size: 32px;
    margin: 0 auto;
    margin-top: 32px;
}

.secondary:hover,
.primary:hover {
    transform: scaleX(1.1);
}

.primary
{
    transition: 0.3s;
    cursor: pointer;
    background-color: #5acc02;
    border: 4px solid #ffffff65; 
    color: #ffffff; 
}

.secondary
{
    transition: 0.3s;
    cursor: pointer;
    background-color: #fafafa;
    border: 4px solid #dbd2d27a; 
    /* border: 0.3px solid rgba(207, 204, 204, 0.794); */
}