#ChapterDefault {
    .train-container {
        position: fixed;
        width: 100vw;
        bottom: 0;
        overflow: hidden;

        .chapter-pg-train {
            position: relative;
            left: 0;
            transition: 0.5s;
            width: min(120px, 10vw);
            animation: moveTrain 60s linear infinite;
        }
    }
}

@keyframes moveTrain {
    from {
        left: 100vw;
        right: auto;
        transform: scaleX(1);
    }

    to {
        right: 110vw;
        left: -10vw;
        transform: scaleX(1);
    }
}

.chapterHeader {
    position: relative;
    top: 0;
    width: 100dvw;
    padding: 10px;
    text-align: center;
    font-weight: bolder;
    font-size: 1.3em;
}

.chapterLeftBar {
    position: absolute;
    display: flex;
    top: max(15vh, 90px);
    transition: 0.5s;
    flex-direction: column;
    gap: 12px;
    padding: 50px 12px;
    border-radius: 0 12px 12px 0;
    background: #DFEDFD;
    color: #222;
    justify-content: center;
    align-items: center;

    img:hover {
        transform: scale(0.9) translateX(5px);
    }

    img {
        transition: 0.5s;
        position: relative;
        width: min(30px, 5vw);
    }
}

#ChapterQuestionInterface {
    width: 90%;
    max-width: 1300px;
    margin-inline: auto;
    display: flex;
    align-items: center;
    padding-inline: (12px, 3vw);
    border-radius: 15px;
    justify-content: space-around;
    gap: 12px;


    .QuestionContainer {
        width: 85%;
        max-width: min(100%, 550px);
        text-align: center;

        .question {
            color: #192914;
            padding: 2em;
            border-radius: 12px;
            background: #aaf37c;
        }

        .options {

            .option:hover {
                transform: scale(1.1);
                background: rgba(255, 255, 255, 0.192);
            }

            .option {
                padding: 12px 1.3em;
                border-radius: 12px;
                background: #EBE7FB;
                box-shadow: 0px 4px 13px 2px rgba(0, 0, 0, 0.25);
                margin-inline: auto;
                margin-top: 10%;
                margin-bottom: 10%;
                max-width: 220px;
                transition: 0.5s;
            }
        }
    }

    .questionsImg > img,
    .questionsImg {
        max-width: min(100%, 75vw);
    }
}

@media only screen and (max-width: 600px) {
    #ChapterQuestionInterface {
        margin: 2em 10px 2em 13vw;
        width: calc(87vw - 10px);
        flex-direction: column-reverse;
        gap: 2em;
    }

}