#ChapterDefault {
    .train-container {
        z-index: -1;
        position: fixed;
        width: 100vw;
        bottom: 0;
        overflow: hidden;

        .chapter-pg-train {
            position: relative;
            left: 0;
            transition: 0.5s;
            width: min(120px, 10vw);
            animation: moveTrain 60s linear infinite;
        }
    }
}

@keyframes moveTrain {
    from {
        left: 100vw;
        right: auto;
        transform: scaleX(1);
    }

    to {
        right: 110vw;
        left: -10vw;
        transform: scaleX(1);
    }
}

.chapterHeader {
    position: relative;
    top: 0;
    width: 100dvw;
    padding: 10px;
    text-align: center;
    font-weight: bolder;
    font-size: 1.3em;
}

.chapterLeftBar {
    position: absolute;
    display: flex;
    top: max(15vh, 90px);
    transition: 0.5s;
    flex-direction: column;
    gap: 12px;
    padding: 50px 12px;
    border-radius: 0 12px 12px 0;
    background: #DFEDFD;
    color: #222;
    justify-content: center;
    align-items: center;

    img:hover {
        transform: scale(0.9) translateX(5px);
    }

    img {
        transition: 0.5s;
        position: relative;
        width: min(30px, 5vw);
    }
}

#ChapterQuestionInterface {
    width: 90%;
    max-width: 1300px;
    margin-inline: auto;
    border-radius: 15px;
    padding-bottom: min(100px, 12vh);



    .LectureVideo {
        width: min(88vw, 1000px);
        aspect-ratio: 1.6;
        margin: 2em auto;
        position: relative;
    }

    .chapternavigationButtonConntainer {
        display: flex;
        justify-content: space-between;
        width: min(1000px, 90vw);
        gap: 2em;
    }

    .ChangechaoterStateBtn {
        all: unset;
        transition: 0.5s;
        cursor: pointer;
        padding: 0.5em 2em;
        border-radius: 0.3em;
        border: 0.3px solid rgba(120, 120, 223, 0.799);
        color: #222;
        background-color: none;
        margin-bottom: min(100px, 12vh);
        width: 40%;
        text-align: center;
    }

    .ChangechaoterStateBtn:hover {
        background-color: rgb(177, 201, 229);
    }

    .tectureVideoCaontainer {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        gap: 12px;
    }

    .QuizContainer {

        display: flex;
        align-items: center;
        padding-inline: (12px, 3vw);
        justify-content: space-around;
        gap: 12px;



        .QuestionContainer {
            width: 85%;
            max-width: min(100%, 550px);
            text-align: center;

            .question {
                color: #192914;
                padding: 2em;
                border-radius: 12px;
                background: #aaf37c;
            }

            .options {

                .option:hover {
                    transform: scaleX(1.1);
                    background: rgb(232, 251, 220);
                }

                .option {
                    padding: 12px 1.3em;
                    border-radius: 12px;
                    box-shadow: 0px 4px 4px 2px rgba(103, 123, 192, 0.25);
                    margin-inline: auto;
                    margin-top: 10%;
                    margin-bottom: 10%;
                    max-width: 220px;
                    cursor: pointer;
                    transition: 0.5s;
                }
            }
        }

        .questionsImg>img,
        .questionsImg {
            border-radius: 2em;
            max-width: min(100%, 75vw);
        }
    }
}

@media only screen and (max-width: 600px) {
    #ChapterQuestionInterface {
        margin: 2em 10px 2em 13vw;
        width: calc(87vw - 10px);
        flex-direction: column-reverse;
        gap: 2em;
    }

}