@import url('https://fonts.googleapis.com/css2?family=Lato&family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600&display=swap');

:root {
    --headingFont:"Barlow Semi Condensed";
    --primaryFont: "Inter";
    --secondaryFont:"Lato";
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--secondaryFont);
}

body {
    max-width: 100dvw ;
    max-height: 100dvh ;
    overflow: hidden;
    background: #e6ffcd;
}

