.login::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: min(10vh, 100px);
  background: linear-gradient(to top, #3CDE56 0%, rgba(60, 222, 86, 0.00) 100%);
  opacity: 0.4;
}

.login::before {
  content: "";
  position: absolute;
  top: -40%;
  right: -20%;
  opacity: 0.5;
  width: min(500px, 100%);
  aspect-ratio: 1;
  border-radius: 50%;
  background: radial-gradient(50% 50% at 50% 50%, #F13232 0%, rgba(231, 67, 67, 0.00) 79.69%);
}

.login {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* width: fit-content; */
  align-items: left;
  background-color: white;
  transition: 0.5s;
}


.login__container {
  width: 300px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  padding: 20px;
}

.login__container>h1 {
  font-weight: 500;
  margin-bottom: 12px;
  width: fit-content;
  color: #E15C5C;
  font-family: Verdana, Geneva, Tahoma, sans-serif
}

.login__container>form>h4 {
  margin-bottom: 5px;
}

.login__container>form>input {
  height: 40px;
  margin-bottom: 10px;
  background-color: #ffb3b3d1;
  width: 98%;
  padding: 0 2em;
  border: rgba(57, 5, 5, 0.375);
  color: #2609096d;
  border-radius: 17px;

}

.login__signInButton {
  margin-top: 10px;
  width: 100%;
  background-color: #E15C5C;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 15px;
}

.login__registerButton {
  margin-top: 10px;
  width: 100%;
  background-color: #E15C5C;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 15px;
}


@media only screen and (max-width: 480px) {
  .login__container {
    margin-top: -50%;
  }
}