.mainContainerRS {
    width: 100vw;
    background-color: white;

    .rectRS {
        padding: 16px 2em;
        width: 100%;
        background-color: #d7ffb8;
        height: 15%;
        display: flex;
        justify-content: center;
        align-items: center;

        .textRS {
            color: #58cc02;
            font-size: 32px;
            font-weight: 900;
        }
    }

    .gif {
        display: flex;
        justify-content: center;
        align-items: center;

        .gifRS {
            width: 60%;
            height: min(300px, 75vh);
        }
    }

    .xp {
        display: flex;
        justify-content: space-evenly;

        .textContainer {
            // border: 2px solid #ffc800;
            background-color: #ffc800;

            color: #ffffff;
            border-radius: 8px;
            height: 128px;
            width: 128px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            padding: 4px 4px;

            .text {
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #ffffff;
                width: 100%;
                height: 100%;
                border-radius: 4px;

                font-size: 32px;
            }

            .text:nth-of-type(1) {
                color: #ffc800;
            }
        }

        .textContainer:nth-of-type(2) {
            background-color: #58cc02;

            .text {
                color: #58cc02;
            }
        }

        .text img {
            height: min(100%, 50px);
            width: min(100%, 50px);
            margin: 8px 8px;
        }
    }
}

@media only screen and (min-width: 500px) {
    .mainContainerRS {
        width: 45%;
        margin: 0 auto;
    }

    .xp {
        transform: translateY(-50px);
    }
}