a {
    all: unset;
}
.mainContainerRS::after {
    content: "";
    display: block;
    position: absolute;
    background: url(../Assets/graphy/celebratingBunny.gif);
    height: min(300px, 50%);
    aspect-ratio: 1;
    top: 2em;
    right: 2em;
    background-position: center;
    background-size: contain;
    z-index: -1;

}
.mainContainerRS::before {
    transition: 0.2s;
    content: "";
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    background: url(../Assets/graphy/confetti.webp);
    z-index: -1;
    opacity: 0;
    animation: fadeout 10s ease 1;
}
.mainContainerRS {
    width: 100vw;
    background: rgba(246, 255, 243, 0.1);
    min-height: 100vh;
    
    
    .rectRS {
        padding: 16px 2em;
        width: 100%;
        background-color: #d7ffb8;
        height: 15%;
        display: flex;
        justify-content: center;
        align-items: center;

        .textRS {
            color: #58cc02;
            font-size: 32px;
            font-weight: 900;
        }
    }
    
    .gif {
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        animation: fadeout 2s ease 1;
        
        .gifRS {
            width: 30%;
            height: min(300px, 75vh);
        }
    }

    .xp {
        display: flex;
        width: min(600px, 98%);
        margin: auto;
        justify-content: space-evenly;

        .textContainer {
            // border: 2px solid #ffc800;
            background-color: #ffc800;

            color: #ffffff;
            border-radius: 8px;
            height: 128px;
            width: 128px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            padding: 4px 4px;

            .text {
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #ffffff;
                width: 100%;
                height: 100%;
                border-radius: 4px;

                font-size: 32px;
            }

            .text:nth-of-type(1) {
                color: #ffc800;
            }
        }

        .textContainer:nth-of-type(2) {
            background-color: #58cc02;

            .text {
                color: #58cc02;
            }
        }

        .text img {
            height: min(100%, 50px);
            width: min(100%, 50px);
            margin: 8px 8px;
        }
    }
}

@media only screen and (min-width: 500px) {
    .mainContainerRS::after {
        bottom: 0;
        top: unset;
    }
    .mainContainerRS {
        width: 100%;
        margin: 0 auto;
    }

    .xp {
        transform: translateY(-50px);
    }
}

@keyframes fadeout {
    from {
        transform: translateY(-100%);
        display: block;
        opacity: 1;
    }
    50% {
        display: block;
        transform: translateY(0%);
    }
    99% {
        display: block;
        opacity: 0;
        transform: translateY(0%);
    }
    to {
        display: none;
        opacity: 0;
        transform: translateY(0%);
    }
}