@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans&family=Poppins:wght@600&family=Work+Sans:wght@600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --darkbg: #212121;
  --lightbg: #f2f3f4;
  --primaryFont-dark: #f2f3f2;
  --primaryFont-light: #121212;
  --primaryFontFamily: 'Inclusive Sans', Arial, Helvetica, sans-serif;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: url(../images/landing.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  z-index: -1;
}
body {
  font-family: var(--primaryFontFamily);
  /* background: var(--lightbg); */
  color: var(--primaryFont-light);
  padding: 12px;
}